*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.container__title{
    padding: 20px 0;
}
.container:hover .title::after{
    display: inline-block;
}
.item{
    cursor: pointer;
    transition: .5s;
    color: #291af7;
    border-top: 1px solid gray;
    padding-top: 20px;
    margin-bottom: 20px;
}
.item.active .content__img{
    display: block;
}
.item.active .title::after{
    content: 'x';
}
.title{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    transition: .5s;
}
.title::after{
    content: '+';
    position: absolute;
    color: #000;
    width: 100%;
    display: none;
}
.item:hover .title::after{
    content: 'x';
    position: absolute;
    color: #000;
    display: inline-block;
}
.content__img{
    width: 18.75rem;
    display: none;
    margin: 0 auto;
    animation-name: appearance;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.item:hover .content__img{
   display: block;  
}
.item:hover{
    color: #000;
}
@keyframes appearance{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}